[submodule "grammars-themes"]
	path = grammars-themes
	url = https://tuyen-at-work@github.com/shikijs/textmate-grammars-themes.git
[submodule "vscode-textmate"]
	path = vscode-textmate
	url = https://tuyen-at-work@github.com/microsoft/vscode-textmate.git
	ignore = dirty
